body {
    font-family: Arial, sans-serif;
    background-color: #1d3557;
    color: #f1faee;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 36px;
    margin-bottom: 20px;
    color: #E63946;
}

.options {
    display: flex;
    justify-content: center; /* Center align the buttons */
    margin-bottom: 20px;
}

button {
    margin: 0 5px;
    padding: 10px 20px;
    background-color: #a8dadc; /* Button background color */
    color: #1d3557; /* Button text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
    background-color: #fff;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}
